/* Estilos globales */
.app-container {
  min-height: 100vh;
  background-color: #14181c; /* El oscuro de Letterboxd */
  color: #9ab;
  font-family: sans-serif;
}

/* Estilos del Navbar [cite: 1967] */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #1b2228;
  border-bottom: 1px solid #2c3440;
}

.logo {
  color: white;
  font-weight: 900;
  font-style: italic;
  letter-spacing: -1px;
}

.login-btn {
  background: none;
  border: none;
  color: #9ab;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.login-btn:hover { color: white; }

.footer {
  padding: 3rem;
  text-align: center;
  background-color: #1b2228;
  font-size: 0.8rem;
}